{% extends "base.html" %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'main/main_page.css' %}">

    <div class="line-main-page"></div>

    <div style="display: grid;grid-template-rows: 1fr auto;min-height: 98vh;">

    <div class="main">
    <br><br>
    <p class='global-text title-main-page'><span style="font-size: 70px;">Site name</span> - courses of all categories and for any age!</p>
    <br><div class='global-divider' style="width: 80%;"></div><br><br>
    <div class="amogus">
    <p class='global-text' style="text-align: center;font-size: 30px;">Register or login to join the course</p>
    <div style="display: flex;flex-direction: column;width: 80%;gap: 20px;justify-content: center;">
    <a href="{% url 'login' %}" class="login-button">Login</a>
    <a href="{% url 'register' %}" class="register-button">Register</a>
    </div> 
    </div>
    <br><br><div class='global-divider' style="width: 80%;"></div><br><br> 
    <p class='global-text' style="text-align: center;font-size: 30px;width: 70%;justify-self: center;">
        Looking for courses that suit you?
        <a href="{% url 'courses' %}" class="global-text link">Try our tag search!</a>
    </p>
    </div>

    <br><br>

    <div class="nav-base"></div>
    </div>

    {% if request.GET.error %}
        <script>
            alert('You have no access to do that')
        </script>
    {% endif %}

{%endblock%}