{% extends "base.html" %}

{% block content %}

    {%include 'teacher/dynamic/d_group_detail.html'%}

    <div class='c-container' style="width: 90%; justify-self: center;">
        <h2 class="global-text">Student: {{student.username}}</h2>
        <div class="global-divider" style="width: 100%;margin-bottom: 10px;"></div>
        <ul class="nav nav-tabs nav-pills" id="myTab" role="tablist">
            {%for module in group.course.modules.all%}
            <li class="nav-item" role="presentation">
            <button class="nav-link {% if forloop.first %}active{%endif%}" id="module{{module.id}}-tab" data-bs-toggle="tab" data-bs-target="#module{{module.id}}" type="button" role="tab" aria-controls="module{{module.id}}" aria-selected="true">{{module.name}}</button>
            </li>
            {%endfor%}
        </ul>
        <div class="tab-content" id="myTabContent">
            {%for module in group.course.modules.all%}
            <div class="tab-pane fade {% if forloop.first %}show active{%endif%}" id="module{{module.id}}" role="tabpanel" aria-labelledby="module{{module.id}}-tab">
                <div class="lessons-container">
                    {%for lesson in module.lessons.all %}
                    <div class="lesson-container">
                    <div class="title-c">
                    <div class="title global-text">
                    <span>{{lesson.name}}</span>
                    </div>
                    </div>
                    <div class="global-divider" style="width: 98%;margin-top: 5px;margin-bottom: 15px;"></div>
                    <ul class="tasks-list global-text">
                    {% for task in lesson.tasks.all %}
                    <li><a href="{% url 'task_view' group.pk task.id student.pk %}" class="global-text">{{task.name}}</a></li>
                    {%endfor%}
                    </ul>
                    </div>
                    {%endfor%}
                </div>
            </div>
            {%endfor%}
        </div>
    </div>

{%endblock%}