{% extends "base.html" %}

{% block content %}

    {%include 'admin/dynamic/d_create.html' %}

    <div class="c-container" style="justify-self: center;width: 70%;">
    
    <p class="global-text" style="font-size: 50px;font-weight: 700;justify-self: center;">━━━━ {{group.name}} ━━━━</p>
    <form method="post" class="form-style">
        {%csrf_token%}
        {%if form.errors %}
        <div style="padding: 5px;border-radius: 5px;background-color: #79584c;color: black;">
        <span style="font-size: 25px;font-weight: 500;"><i class="fa-solid fa-triangle-exclamation"></i> Error!</span>
        {%for formfield in form%}
        {% for error in formfield.errors%}
        <p>{{error}}</p>
        {%endfor%}
        {%endfor%}
        </div>
        <br><div class="global-divider" style="width: 80%;"></div><br>
        {%endif%}
        <div class="aaa">
        <div class="bbb">
        <div class="form-style global-text ccc">
            <span>⤑ Group name</span>
            {{form.name}}
        </div>
        <div class="form-style global-text ccc">
            <span>⤑ Course</span>
            {{form.course_field}}
        </div>
        </div>
        <div class="bbb">
        <div class="form-style global-text ccc">
            <span>⤑ Type</span>
            {{form.type}}
        </div>
        <div class="form-style global-text ccc">
            <span>⤑ Group link (ex. XXX-XXXX-XXX)</span>
            {{form.link}}
        </div>
        </div>
        </div>
        <div>
            <br>
            <span class="global-text">⤑ Students</span><br>
            <div style="display: flex;flex-wrap: wrap;gap: 10px;">
            {%for student in group.students.all %}
            <div style="background-color: #6d7a59;padding: 3px 10px 3px 10px;border-radius: 3px;color: black;">
            {{student.username}} 
            <a href="{%url 'remove_student' group.pk student.pk %}" style="text-decoration: none;color: black;"><i class="fas fa-xmark"></i></a>
            </div>
            {%endfor%}
            </div>
            <div class="form-style" style="margin-top: 5px;">{{form.students_field}}</div>
        </div>
        <div>
            <span class="global-text">⤑ Teacher</span>
            <div class="form-style">{{form.teacher_field}}</div>
        </div>
        <br>
        <button type="submit" class="sumbit-btn">sumbit</button>
    </form>

    </div><br>

{% endblock %}